[submodule "xraycam/utils"]
	path = xraycam/utils
	url = https://github.com/hoidn/utils
	branch = python3
[submodule "xraycam/legacy"]
	path = xraycam/legacy
	url = https://github.com/hoidn/xraycam
	branch = legacy
